@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<style>
    .add_on {
        background-color: #fff;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .custom_text_box {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: .25rem !important;
        border-bottom-right-radius: .25rem !important;
    }
</style>



<div class="row justify-content-center mt-5">
    <div class="shadow col-lg-6 col-md-6 col-12 p-5">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <h4 class="text-center text-black-50">Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3 ">
                <div class="input-group input-group-lg">
                    <span class="input-group-text add_on" id="basic-addon1" style="background-color:#fff;"><i class="fas fa-envelope"></i></span>
                    <input asp-for="Input.Email" class="form-control custom_text_box" placeholder="Enter Email" />
                    <br />

                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 ">
                <div class="input-group input-group-lg">
                    <span class="input-group-text add_on" id="basic-addon1" style="background-color:#fff;"><i class="fas fa-unlock-alt"></i></span>
                    <input asp-for="Input.Password" class="form-control custom_text_box" placeholder="Enter Password" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 ">
                <div class="input-group input-group-lg">
                    <span class="input-group-text add_on" id="basic-addon1" style="background-color:#fff;"><i class="fas fa-unlock-alt"></i></span>
                    <input asp-for="Input.ConfirmPassword" class="form-control custom_text_box" placeholder="Enter Confirm Password" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>*@
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Register <i class="fas fa-sign-in-alt"></i></button>
        </div>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
